<%- include("../partials/header.ejs") %>

<h1>Search for adoptable animals in your area </h1>
<!-- users will be able to search based on different variables -->

<form method="GET" action="/animals">
    <label for=""



</form>

<%- include ("../partials/footer.ejs")