<%- include("../partials/header.ejs") %>

<h2>sign up for an account </h2>

<form method="POST" action="/users">
    <label for="email">email</label>
    <input type="email" name="email" id="email" required/>

    <label for="password">password</label>
    <input type="password" name="password" id="password" required/>
    <button type="submit">sign up!</button>

</form>

<%- include('../partials/footer.ejs') %>